<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="{{asset('assets/css/openlayers3/ol.css')}}"/>
        
    </head>
    <body>
        {% block body %}{% endblock %}
            <script src="{{ asset('assets/js/jquery.js')}}"></script>
            <script src="{{ asset('assets/js/openlayers3/ol.js') }}"/>
            <script src="{{ asset('assets/js/bootstrap.min.js')}}"/></script>
            <script src="{{ asset('assets/js/typeahead.js') }}"></script>
            <script src="{{ asset('assets/js/index.js') }}"/>
        {% block javascripts %}{% endblock %}
    </body>
</html>
